<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
   http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
   http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.1.xsd
   http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
   http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.1.xsd
   http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd">

	<util:list id="sql_list_for_create_pure_v3_data">
		<value><![CDATA[truncate bettbio_ad_v2.ad_play_record_data]]></value>
		<value><![CDATA[delete from bettbio_ad_v2.user_domain_data]]></value>
		<value><![CDATA[delete from bettbio_ad_v2.bettbio_company_data]]></value>
		<value><![CDATA[delete from bettbio_ad_v2.content_repository_data]]></value>
		<value><![CDATA[DROP VIEW IF EXISTS bettbio_ad_v2.ad_machine_full_info_view]]></value>
		<value><![CDATA[CREATE VIEW bettbio_ad_v2.ad_machine_full_info_view AS
    		select R.id AS r_id, R.title as r_title, L.id AS l_id, L.name as l_title, RG.id AS rg_id, RG.name as rg_title, RI.id AS ri_id, RI.name as ri_title
    			from  bettbio_ad_v2.refrigerator_data R left join bettbio_ad_v2.laboratory_data L on R.laboratory = L.id
        			left join bettbio_ad_v2.research_group_data RG on L.belongs_to = RG.id
        			left join bettbio_ad_v2.research_institute_data RI on RG.belongs_to = RI.id]]>
        </value>
    </util:list>
    <util:list id="sql_list_not_used">
    <value><![CDATA[insert into bettbio_ad_v2.general_research_institute_data(id,unique_name,chinese_name, english_name, institute_type, city, province, belongs_to, version)
				values('GRI000001','样例_保护伞公司','布雷拉公司','Umbrella Corporation','OTHER_NOT_CU','CMC000001','CMP000001','RIR000001',1)
		]]></value>
		<value><![CDATA[insert into bettbio_ad_v2.research_project_group_data(id, unique_name,chinese_name, english_name,
					research_area,projects_undertaken,research_findings,institute,version)
				values('RPG000001','样例_T细胞课题组','复旦大学Ｔ细胞研究课题组','T Cell research group, Fudan University',
					'研究Ｔ细胞是否能够制造生化兵',
					'承担Ｔ细胞的军事化应用课题',
					'舔食者, 追击者, 暴君, 猎杀者, 斧头怪',
					'GRI000001',1)
		]]></value>
		<value><![CDATA[insert into bettbio_ad_v2.research_personnel_data(id, unique_name, photo_image, chinese_name, english_name,  
					position_title, educational_background, landline_phone, cell_phone,
					postal_address, belongs_to, version)
				values('RP000001','样例_以撒西博士','public/bettbioad/example/12/34/56/78/issaacs.jpg','DR．isaacs','DR．isaacs',
					'Doctor','Doctor of Biology','+86-0755-61354310','13812345678',
					'广东 深圳深圳市福田区华强北太平洋安防市场4B357 ','RIR000001',1)
		]]></value>
		<value><![CDATA[insert into bettbio_ad_v2.research_group_members_data(id,research_project_group,research_personnel, member_type, version)
				values('RGM000001','RPG000001','RP000001','tutor',1)
		]]></value>
		<value><![CDATA[insert into bettbio_ad_v2.research_person_mailbox_data(id,owner,email,version) values('RPM000001', 'RP000001', 'Issaacs@umbrella.com', 1)]]></value>
		<value><![CDATA[insert into bettbio_ad_v2.research_person_mailbox_data(id,owner,email,version) values('RPM000002', 'RP000001', 'PaulAnderson@umbrella.com', 1)]]></value>
    
    </util:list>
	<!-- 样例数据结束. 以下是数据导入增加的额外索引和临时表 -->
	<util:list id="sql_list_for_create_sample_data">
		<value><![CDATA[ALTER TABLE `bettbio_ad_v2`.`input_users_data` DROP INDEX `idx_input_users_data４input_uid`]]></value>
		<value><![CDATA[ALTER TABLE `bettbio_ad_v2`.`input_users_data` ADD INDEX `idx_input_users_data４input_uid` (`input_uid` ASC)]]></value>
		<value><![CDATA[ALTER TABLE `bettbio_ad_v2`.`import_result_paper_data` DROP INDEX `idx_import_result_paper4input_pid`]]></value>
		<value><![CDATA[ALTER TABLE `bettbio_ad_v2`.`import_result_paper_data` ADD INDEX `idx_import_result_paper4input_pid` (`input_pid` ASC)]]></value>
		
	</util:list>
	<bean id="dbOperator" class="com.skynet.bettbioadv2.dboperator.SimpleSqlExecutor">
		<property name="dataSource" ref="dataSource"/>
		<property name="step1_sql_list" ref="sql_list_for_create_pure_v3_data"/>
		<property name="initDataOperators">
			<list>
				<ref bean="bettbio_company_initor"/>
				<ref bean="user_domain_initor"/>
				<ref bean="operation_role_initor"/>
				<ref bean="operation_role_group_initor"/>
				<ref bean="operation_role_in_group_initor"/>
				<ref bean="product_class_initor"/>
				<ref bean="knowledge_base_initor"/>
				<ref bean="location_resource_initor"/>
				<ref bean="province_resource_initor"/>
				<ref bean="city_resource_initor"/>
				<ref bean="external_resource_initor"/>
				<ref bean="standard_resource_initor"/>
				<ref bean="standard_institute_type_initor"/>
				<ref bean="standard_institute_name_initor"/>
				<ref bean="institute_name_mainten_initor"/>
				<ref bean="research_institute_initor"/>
			</list>
		</property>
		<property name="step2_sql_list" ref="sql_list_for_create_sample_data"/>
		<property name="sqlImportSecUsers">
			<value><![CDATA[insert into bettbio_ad_v2.sec_user_data(id, login,mobile,email,pwd,last_login_time,domain,version) 
				select id,login,mobile,email,pwd,last_login,domain,version from bettbio_ad.sec_user_data 
				where exists(select id from bettbio_ad_v2.user_domain_data where id=bettbio_ad.sec_user_data.domain)]]>
			</value>
		</property>
		<property name="sqlImportResearchInstitute">
			<value><![CDATA[insert into bettbio_ad_v2.research_institute_data(id,name,address,post_code,description,belongs_to,version)
				select id,name,address,post_code,description,belongs_to,version from bettbio_ad.research_institute_data 
				where exists(select id from bettbio_ad_v2.bettbio_company_data where id=bettbio_ad.research_institute_data.belongs_to)]]>
			</value>
		</property>
		<property name="sqlImportResearchGroup">
			<value><![CDATA[insert into bettbio_ad_v2.research_group_data(id,name,research_area,belongs_to,version) 
				select id,name,research_area,belongs_to,version from bettbio_ad.research_group_data 
					where exists (select id  from bettbio_ad_v2.research_institute_data where id = bettbio_ad.research_group_data.belongs_to)]]>
			</value>
		</property>
		<property name="sqlImportLabratory">
			<value><![CDATA[insert into bettbio_ad_v2.laboratory_data(id,name,room_number,belongs_to,version) 
				select id,name,room_number,belongs_to,version from bettbio_ad.laboratory_data 
					where exists (select id from bettbio_ad_v2.research_group_data where id=bettbio_ad.laboratory_data.belongs_to)]]>
			</value>
		</property>
		<property name="sqlImportLabratoryStep2">
			<value><![CDATA[insert into bettbio_ad_v2.product_class_usage_data(id, laboratory,product_class,annual_consumption,version) values('PCU000001', 'L000001', 'PC000001', '365', 1)]]>
			</value>
		</property>
		<property name="sqlImportAdMachines">
			<value><![CDATA[insert into bettbio_ad_v2.refrigerator_data(id,title,laboratory,
			        refrigerator_manufacturer,refrigerator_model,refrigerator_serial_number,refrigerator_capacity,refrigerator_up_time,
			        ad_machine_model,ad_machine_serial_number,ad_machine_up_time,rfid_reader_id,longitude,latitude,belongs_to,last_report_time,
			        apk_version,last_password,current_password) 
			    select id,title,laboratory,
			           refrigerator_manufacturer,refrigerator_model,refrigerator_serial_number,refrigerator_capacity,refrigerator_up_time,
			           ad_machine_model,ad_machine_serial_number,ad_machine_up_time,rfid_reader_id,longitude,latitude,belongs_to,last_report_time, 
			           'unknown',NULL,NULL
				from bettbio_ad.refrigerator_data]]>
			</value>
		</property>
		<property name="sqlImportCustomerCompany">
			<value><![CDATA[insert into bettbio_ad_v2.customer_company_data (id,name,address,email,phone,home_page,company_profile,belongs_to,version) 
    			select id,name,address,email,phone,home_page,company_profile,belongs_to,version from bettbio_ad.customer_company_data
        			where exists (select id from bettbio_ad_v2.bettbio_company_data where id=bettbio_ad.customer_company_data.belongs_to)]]>
			</value>
		</property>
		<property name="sqlImportApks">
			<value><![CDATA[insert into bettbio_ad_v2.ad_machine_apk_data (id,release_build,release_date,download_link,belongs_to,version) 
    			select id,release_build,release_date,download_link,belongs_to,version from bettbio_ad.ad_machine_apk_data
       				where exists (select id from bettbio_ad_v2.bettbio_company_data where id=bettbio_ad.ad_machine_apk_data.belongs_to)]]>
			</value>
		</property>
	</bean>
	
</beans>


